TS_CERT_DOMAIN=portainer.${TS_TAILNET_DOMAIN}
TS_HOSTNAME=portainer

# passthrough
TS_AUTHKEY=${TS_AUTHKEY}
TS_TAILNET_DOMAIN=${TS_TAILNET_DOMAIN}
TZ=${TZ}
NAS_LAN_IP=${NAS_LAN_IP}
ADMIN_EMAIL=4{ADMIN_EMAIL}
